@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 245 245 245;
  --foreground: 43 43 43;
  --primary: 44 84 164;
  --secondary: 252 100 52;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-family: Arial, Helvetica, sans-serif;
}
